{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["**/*.css", "**/*.html"],
      "options": { "singleQuote": false }
    }
  ]
}
